*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* shared code start here */
.web-main{
    width: 1900px;
    margin: 0 auto;
}


/* shared code end here */

/* nav bar code start here */
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.nav-bar > h3{
    font-size: 40px;
    font-weight: bold;
    color: green;
    text-shadow: 5px 5px 5px red;
    font-family:serif;
}

.nav-bar > a{
   text-decoration: none;
   border: 2px solid green;
   border-radius: 5px;
   padding: 10px 20px;
   font-weight: bold;
   color: green;
   font-family: sans-serif;
}

.nav-bar > a:hover{
    background-color:#006A50;
    color:aliceblue;
    transition: 0.3s;
}

/* nav bar code end here */

/* hero area code start here */

.hero-area-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:50px 200px;
    gap: 50px;

    background-color:#C6E4D6;
    padding: 40px 60px 50px 60px;
    border-radius: 10px;
}

.hero-area-content > p{
    font-size: 24px;
    color: gray;
    font-weight:500px;
}

.hero-area-content > h1{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}

.hero-area-content > button{
    padding: 17px 34px;
    background-color:#006A50;
    color: aliceblue;
    border-radius: 10px;
    font-size: 18px;
    font-weight:600px;
    font-family: sans-serif;
    cursor: pointer;
    border: none;
}

.hero-area-content > button:hover{
    background-color: red;
    color: aliceblue;
    transition: 0.5s;
}

/* hero area code end here */

/* bangladesh 2.0 section code start here */

.bd-section > h3{
    font-size: 40px;
    font-weight: bold;
    margin: 100px 200px 30px 200px;
}

.bd-section-container{
    display: flex;
    margin: 50px 200px;
    gap: 50px;
}

.bd-section-single-contaier:hover{
    background-color:aliceblue;
    transition: 0.5s;
}

.bd-section-single-contaier{
    background-color: rgb(231, 231, 231);
    padding: 20px 30px;
    border-radius: 10px;
}

.bd-section-single-contaier-title{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0px;
}

.bd-section-single-contaier-description{
    font-size: 14px;
    color: gray;
    font-weight: 400px;
}

/* bangaldesh 2.0 section code end here */


/* bd future section code start here */

.bd-future-title{
    margin: 100px 200px 30px 200px;
    font-size: 40px;
    font-weight: bold;
}
.bd-future-description{
    margin: 0px 200px;
    font-size: 16px;
}
.bd-future-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    gap: 50px;
}

.bd-future-single-container{
    padding: 50px 50px;
    border-radius: 10px;
}

.bd-future-single-container-title{
    margin: 20px 0px;
    font-size: 20px;
    font-weight: bold;
}

.bd-future-single-container-description{
    font-size: 16px;
    margin-bottom: 10px;
}

.bd-future-single-container-btn{
    border: 2px solid #5490F5;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 7px;
    text-decoration: none;
}


.future-container-1{
    background-color:#94b5eef5;
}
.future-container-2{
    background-color: #C6E4D6;
}
.future-container-3{
    background-color:#F7EBCF;
}
.future-btn-1{
    background-color:#5490F5;
    border: none;
}
.future-btn-2{
    background-color:#09A15C;
    border: none;
}
.future-btn-3{
    background-color:#FFC239;
    border: none;
}

.bd-future-single-container-btn:hover{
    border: none;
    background-color: red;
    color: aliceblue;
    transition: 0.5s;
}

/* bd future code end here */


/* dr muhammad yunus code start here */
.dr-yunus{
    margin: 30px 200px;
    background-color:rgb(245, 240, 240);
    padding: 30px 50px;
    border-radius: 20px;
    position: relative;
}

.dr-yunus > img{
    position: absolute;
    width:54px;
    height: 54px;
    top:20px;
}

.dr-yunus-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dr-yunus-container-discription{
    padding-top: 20px;
}

.dr-yunus-container-discription > p > q{
    font-size: 18px;
    font-weight: 400px;
    color:#746e63;
    
}

.dr-yunus-container-identity > h4{
    font-size: 20px;
    font-weight:600px;
    margin-bottom: 7px;
}

.dr-yunus-container-identity > p{
    font-size: 16px;
    font-weight: 400px;
    color: #746e63;
}

/* dr muhammad yunus code end here */

/* question section code start here */
.opinion{
    margin: 50px 200px;
}
.opinion > h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.question-container{
    background-color: rgb(230, 227, 227);
    padding:40px;
    border-radius: 10px;
}

.question-container table, th, td{
    border: 2px solid gray;
    border-collapse: collapse;
    padding:10px 20px;
    width: 100%;
}

.question-container th{
    background-color:#C6E4D6;
    font-size: 20px;
    font-weight: 600px;
    text-align: left;
    border: none;
}

.question-container td{
    font-size: 16px;
    font-weight: 700px;
}

.border-option{
    padding: 12px;
    background-color:#C6E4D6;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* question section code end here */


/* recent news section code start here */
.recent-news{
    margin: 100px 200px;
}

.recent-news-title{
    font-size: 40px;
    font-weight: bold;
}

.recent-news-description{
    font-size: 16px;
    font-weight: 400px;
    color: gray;
    margin-bottom: 20px;
}

.recent-news-container{
    display: flex;
    gap: 40px;
    background-color: rgb(228, 232, 236);
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px;
}

.recent-news-container-img > img{
    border-radius: 10px;
}

.recent-news-container-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.time{
    margin: 10px 0px;
}

.recent-news-btn{
    border: 2px solid black;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: aliceblue;
    padding: 7px 10px;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600px;
    letter-spacing: 1px;
}

.recent-news-btn:hover{
    background-color: red;
    color: aliceblue;
    transition: 0.5s;
}

/* recent section code end here */


/* donate section code start here */

.donate-section{
    margin: 20px 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donate-container-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.donate-container-description{
    font-size: 16px;
    font-weight: 400px;
    margin: 0px 15px 15px 15px;
    text-align: center;
}

.amount-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.single-ammount-container > h3{
    border: 1px solid lightgray;
    padding:20px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 40px;
    font-weight: bold;
}

.single-ammount-container > h3:hover{
    background-color: green;
    color: aliceblue;
    transition: 0.5s;
    cursor: pointer;
}

.select-ammount > h3{
    background-color: lightseagreen;
}

.other-ammount{
    display:block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 400px;
    margin: 0px 0px 30px 0px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    border:none;
}

.donate-btn-done{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: green;
    color: aliceblue;
}

.donate-btn-done-container{
    text-align: center;
}

.donate-btn-done:hover{
    background-color: red;
    transition: 0.5s;
    border: none;
}

/* donate section code end here */


/* Subscribe section code start here */
.subscribe-section{
    margin: 100px 200px;
    background-color:#C6E4D6;
}
.subscribe-container{
    padding: 80px 230px 80px 360px;
}

.subscribe-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.subscribe-description{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 20px;
    color: gray;
}

.subscribe-email{
    padding: 20px 15px;
    width: 65%;
    border:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subscribe-btn{
    padding: 20px 15px;
    border:none;
    background-color: green;
    color: aliceblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: -5px;
}

.subscribe-btn:hover{
    background-color: red;
    color: aliceblue;
    transition: 0.5s;
    cursor: pointer;
}

.subscribe-btn-container > P{
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    margin-top: 24px;
    color: gray;
    margin-right:250px;
}

/* subcribe section code end here */